 <div class="user-details">
  <h1>{{site.user_des_title}}</h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-html5-plain colored"></i>
      <i class="devicon-bootstrap-plain colored"></i>
      <i class="devicon-css3-plain colored"></i>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-jquery-plain colored"></i>
      <i class="devicon-c-plain  colored"></i>
      <i class="devicon-csharp-plain-wordmark  colored"></i>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain colored"></i>
      <i class="devicon-visualstudio-plain colored"></i>
      <i class="devicon-gitlab-plain colored"></i>
    </div>
</div>
