
<head>
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="顽石博客" />
    <meta name="keywords" content="GYY2046, 个人博客, bootstrap博客, html5, css3, mobile first, responsive" />
    <meta name="author" content="gyy2046.com" />
    
    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
    <link rel="stylesheet" href="{{ "/assets/css/bootstrap.min.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/css/open-iconic-bootstrap.min.css" | prepend: site.baseurl }}">    
    <link rel="stylesheet" href="{{ "/assets/css/owl.carousel.min.css" | prepend: site.baseurl}}">
    <link rel="stylesheet" href="{{ "/assets/css/owl.theme.default.min.css" | prepend: site.baseurl}}">
    <link rel="stylesheet" href="{{ "/assets/css/icomoon.css" | prepend: site.baseurl}}">
    <link rel="stylesheet" href="{{ "/assets/css/animate.css" | prepend: site.baseurl}}">
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | prepend: site.baseurl}}">

  </head>